<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zewbby.smartticket.mapper.AdminOperationLogMapper">

    <insert id="insert"
            parameterType="com.zewbby.smartticket.domain.entity.AdminOperationLog"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO admin_operation_log (
            operator_user_id,
            operator_username,
            operator_role,
            operation_type,
            resource_type,
            resource_id,
            request_uri,
            request_method,
            request_params,
            operation_result,
            error_message,
            client_ip,
            trace_id,
            created_at
        ) VALUES (
            #{operatorUserId},
            #{operatorUsername},
            #{operatorRole},
            #{operationType},
            #{resourceType},
            #{resourceId},
            #{requestUri},
            #{requestMethod},
            #{requestParams},
            #{operationResult},
            #{errorMessage},
            #{clientIp},
            #{traceId},
            #{createdAt}
        )
    </insert>
</mapper>
