<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zewbby.smartticket.mapper.TicketCategoryMapper">

    <resultMap id="TicketCategoryResultMap" type="com.zewbby.smartticket.domain.entity.TicketCategory">
        <id property="id" column="id"/>
        <result property="sessionId" column="session_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="price" column="price"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectById" parameterType="java.lang.Long" resultMap="TicketCategoryResultMap">
        SELECT
            id,
            session_id,
            category_name,
            price,
            created_at,
            updated_at
        FROM ticket_category
        WHERE id = #{id}
    </select>

    <select id="existsShowSessionTicketCategoryRelation" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM show_info s
        JOIN performance_session ps ON ps.show_id = s.id
        JOIN ticket_category tc ON tc.session_id = ps.id
        WHERE s.id = #{showId}
          AND ps.id = #{sessionId}
          AND tc.id = #{ticketCategoryId}
    </select>
</mapper>
